<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h1>Admin Page</h1>
<h2>Currencies</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="currency : ${currencies}">
        <td th:text="${currency.id}">Id</td>
        <td th:text="${currency.name}">Name</td>
        <td>
            <a th:href="@{/admin/currency/delete/{id}(id=${currency.id})}">Delete</a>
            <a th:href="@{/admin/currency/update/{id}(id=${currency.id})}">Update</a>
        </td>
    </tr>
</table>
<a th:href="@{/admin/currency/add}">Add new currency</a>
<h2>Exchanges for today</h2>
<table>
    <tr>
        <th>ID</th>
        <th>From</th>
        <th>To</th>
        <th>Rate</th>
        <th>Date</th>
    </tr>
    <tr th:each="exchange : ${exchangeRates}">
        <td th:text="${exchange.id}">Id</td>
        <td th:text="${exchange.sourceCurrency.name}">From</td>
        <td th:text="${exchange.targetCurrency.name}">To</td>
        <td th:text="${exchange.rate}">Rate</td>
        <td th:text="${exchange.date.day} + '.' + ${exchange.date.month} + '.' + ${exchange.date.year}">Date</td>
        <td>
            <a th:href="@{/admin/exchange/delete/{id}(id=${exchange.id})}">Delete</a>
            <a th:href="@{/admin/exchange/update/{id}(id=${exchange.id})}">Update</a>
        </td>
    </tr>
</table>
<a th:href="@{/admin/exchange/add}">Add new exchange</a>
</body>
</html>