<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Insane java coders</title>
</head>
<body>
<main>
    <div class="main__coder" onclick="window.location.href='/danylo'">
        <img class="main__avatar" src="/assets/danylo.jpg" alt="Danylo"/>
        <span>Danylo Berkovskyi</span>
    </div>
    <div class="main__coder" onclick="window.location.href='/maksym'">
        <img class="main__avatar" src="/assets/maksym.jpg" alt="Maksym"/>
        <span>Maksym Ivannikov</span>
    </div>
    <div class="main__coder" onclick="window.location.href='/nazariy'">
        <img class="main__avatar" src="/assets/nazariy.jpg" alt="Nazariy"/>
        <span>Nazariy Svirzhevskyi</span>
    </div>
</main>
</body>
</html>